<div class="sign_up col-8 offset-2">
    <h1>Are You a</h1>
    <br />
    <h3><%= link_to 'Reader', '#', class: 'button' %></h3>
    <p>or</p>
    <h3><%= link_to 'Writer', '#', class: 'button' %></h3>
    <br />
    <br />
</div>