<div class="bg_img">
    <div class="home">Come Be My Reader</div>
    <br />
    <div class="text-center">
        <h4><%= link_to 'Writer', '#' %> | <%= link_to 'Reader', '#' %></h4>
        <br />
        <br />
        <br />
    </div>
</div>
      
    <div class= "top col-12">
        <div class="boom-box">
             <h1 class="text-center"> Featured Story</h1>
                Stuff
        </div>
        <div class="row">
            <div class="boom-box col-5 offset-1">
                Lorem Ipsum 
            </div>
            <div class="boom-box col-5">
                Lorem Ipsum 
            </div>
            <br />
        </div>
        <h2 class="text-center"><%= link_to 'Explore More', '#' %></h2>
    </div>
</div>