<div class="bg_img">
    <div class="home">Come Be My Reader</div>
    <br />
    <div class="row home_links">
        <h4 class="col-3 offset-2"><%= link_to 'Writer', '#' %></h4>
        <h4 class="col-2">|</h4>
        <h4 class="col-3"><%= link_to 'Reader', '#' %></h4><br />
        <br />
        <br >
    </div>
</div>
    <div class= "top col-12">
        <h1 class="text-center"> Featured Stories</h1>
            <div class="boom-box">
            Stuff
            </div>
            <div class="row">
                <div class="boom-box col-5 offset-1">
                    Lorem Ipsum 
                </div>
                 <div class="boom-box col-5">
                    Lorem Ipsum 
                </div>
                <br />
            </div>
        <h2 class="text-center"><%= link_to 'Explore More', '#' %></h2>
    </div>
</div>