<div class="bg_img">
<div class="home">
    <h1>Come Be My Reader</h1>
        <div class="row text-center">
        <h4 class="col-5"><%= link_to 'Writer', '#' %></h4>
        <h4>&nbsp;|</h4>
        <h4 class="col-5"><%= link_to 'Reader', '#' %></h4>
        </div>
</div>
<br />
<br />
<br />
    <div class= "top col-12">
        <h1 class="text-center"> Featured Stories</h1>
            <div class="boom-box">
            Stuff
            </div>
    </div>
</div>