<div class="bg_img">
    <div class="home">Come Be My Reader</div>
    <br />
    <div class="text-center">
        <h4><%= link_to 'Writer', '#' %> | <%= link_to 'Reader', '#' %></h4>
        <br />
        <br />
        <br />
    </div>
</div>
      
    <div class= "top col-12">
        <div class="boom-box">
             <h1 class="text-center"> Featured Story</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper varius erat, id posuere odio. Vestibulum tempus, ipsum et molestie dapibus, lacus purus tristique massa, nec dictum nisi est nec massa. Nunc at massa vitae velit euismod rhoncus. Donec quis nisl sit amet leo faucibus pharetra. Nullam pellentesque nisl ac libero tempus, non interdum orci sagittis. Sed hendrerit porta neque cursus sagittis. Aenean et dapibus nulla. Aenean aliquet dui non velit blandit dignissim. Donec vestibulum libero dolor, sed auctor velit lobortis ut. Duis aliquet nibh dictum orci rutrum lacinia. Phasellus efficitur, dui a varius euismod, felis felis dignissim massa, eu tristique nibh risus at ipsum. Fusce metus enim, pulvinar ut efficitur ac, gravida ac nulla. Sed nec nisl semper, consequat nulla at, molestie ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras consectetur posuere nisl, ut bibendum est bibendum ut. Donec lacinia, massa vitae tincidunt rutrum, sem risus aliquet libero, nec eleifend turpis elit vitae tortor.</p>
        </div>
        <div class="row">
            <div class="boom-box col-5 offset-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper varius erat, id posuere odio. Vestibulum tempus, ipsum et molestie dapibus, lacus purus tristique massa, nec dictum nisi est nec massa. Nunc at massa vitae velit euismod rhoncus. Donec quis nisl sit amet leo faucibus pharetra. Nullam pellentesque nisl ac libero tempus, non interdum orci sagittis. Sed hendrerit porta neque cursus sagittis. Aenean et dapibus nulla. Aenean aliquet dui non velit blandit dignissim. Donec vestibulum libero dolor, sed auctor velit lobortis ut. Duis aliquet nibh dictum orci rutrum lacinia. Phasellus efficitur, dui a varius euismod, felis felis dignissim massa, eu tristique nibh risus at ipsum. Fusce metus enim, pulvinar ut efficitur ac, gravida ac nulla. Sed nec nisl semper, consequat nulla at, molestie ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras consectetur posuere nisl, ut bibendum est bibendum ut. Donec lacinia, massa vitae tincidunt rutrum, sem risus aliquet libero, nec eleifend turpis elit vitae tortor.            
            </div>&nbsp; &nbsp;
            <div class="boom-box col-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper varius erat, id posuere odio. Vestibulum tempus, ipsum et molestie dapibus, lacus purus tristique massa, nec dictum nisi est nec massa. Nunc at massa vitae velit euismod rhoncus. Donec quis nisl sit amet leo faucibus pharetra. Nullam pellentesque nisl ac libero tempus, non interdum orci sagittis. Sed hendrerit porta neque cursus sagittis. Aenean et dapibus nulla. Aenean aliquet dui non velit blandit dignissim. Donec vestibulum libero dolor, sed auctor velit lobortis ut. Duis aliquet nibh dictum orci rutrum lacinia. Phasellus efficitur, dui a varius euismod, felis felis dignissim massa, eu tristique nibh risus at ipsum. Fusce metus enim, pulvinar ut efficitur ac, gravida ac nulla. Sed nec nisl semper, consequat nulla at, molestie ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras consectetur posuere nisl, ut bibendum est bibendum ut. Donec lacinia, massa vitae tincidunt rutrum, sem risus aliquet libero, nec eleifend turpis elit vitae tortor.            </div>
            <br />
        </div>
        <h2 class="text-center"><%= link_to 'Explore More', '#' %></h2>
    </div>
</div>