@import "bootstrap";

body {
  background: image_url('clean_textile.png');
}

.navbar {
  background: image_url('mochaGrunge.png');
}

.navbar-brand, .navbar-text a{
  color: white;
}

.bg_img {
  background: url("booksnew.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home {
  font-family: 'kaushan_scriptregular';
  font-weight: 900px;
  text-align:center;
  font-size: 76px;
  font-style: italic;
  padding-top: 75px;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.home_links {
  color: white;
}
.sign_up {
  font-family: 'kaushan_scriptregular';
  text-align: center;
  width: 100%;
  display: block;
  background: white;
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-border-radius: 4px;  
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 8px 12px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 8px 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 12px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.button {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
border: 1px solid gray;
padding: 6px;
border-radius: 4px;
color: gray;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.button:hover {
  text-decoration: none;
  color: gray;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
border: 1px solid gray;
border-radius: 4px;
padding: 6px;
box-shadow: 3px 3px 3px #777777;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.boom-box {width: 100%;
display: block;
background: white;
border: 1px solid;
border-color: #e5e5e5 #dbdbdb #d2d2d2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
margin-top: 10px;
margin-bottom: 10px;
}
 
.boom-box .col {
float: left;
box-sizing: border-box;
width: 250px;
padding: 16px 7px 6px 22px;
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
color: #343434;
border-right: 1px solid #dadada;
}


clear {
  clear: both;
}

.top { 
  background: image_url('clean_textile.png');
  margin-top: 50px;
} 

.login
  {
    border: 2px solid white;
    border-radius: 6px;
    padding: 3px;
  }

.home_columns {
  margin: 10px;
}